@charset "UTF-8";
@font-face {
  font-family: "PTMono";
  src: url("../fonts/ptmono-regular.woff2") format("woff2"), url("../fonts/ptmono-regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RobotoCondensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/robotocondensed-regular.woff2") format("woff2"), url("../fonts/robotocondensed-regular.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/robotocondensed-bold.woff2") format("woff2"), url("../fonts/robotocondensed-bold.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/roboto-medium.woff2") format("woff2"), url("../fonts/roboto-medium.woff") format("woff");
}
body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #00b2ff;
  -webkit-text-fill-color: #ffffff;
  box-shadow: 0 0 0 1000px #19baff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.tablet-and-lower {
  display: none;
}
@media (max-width: 1023px) {
  .tablet-and-lower {
    display: inline;
  }
}

@media (max-width: 1023px) {
  .desktop-only {
    display: none;
  }
}

.call-request-button {
  z-index: 1;
  flex-shrink: 0;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 180px;
  height: 45px;
  padding: 14px 13px 8px;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
}
.call-request-button:hover {
  border-color: #666666;
}
@media (max-width: 1023px) {
  .call-request-button {
    display: none;
  }
}

.body-no-scroll {
  overflow: hidden;
}

.about {
  position: relative;
  margin: 110px auto 0;
  max-width: 1220px;
  padding: 0 27px 110px 205px;
  box-sizing: border-box;
  color: #666666;
}
.about img {
  position: absolute;
  left: 0;
}
.about h2 {
  margin: 0;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
}
.about p {
  margin: 18px 0 0;
  padding-bottom: 5px;
}
@media (max-width: 1023px) {
  .about {
    margin-top: 55px;
    padding-left: 213px;
    padding-bottom: 82px;
  }
  .about img {
    left: -10px;
    width: 251px;
    height: 360px;
  }
  .about h2 {
    font-size: 32px;
    line-height: 45px;
  }
  .about p {
    margin-top: 25px;
    padding-bottom: 0;
  }
}
@media (max-width: 767px) {
  .about {
    padding: 0 15px 65px;
  }
  .about img {
    display: none;
  }
  .about h2 {
    font-size: 28px;
    line-height: 40px;
  }
  .about p {
    margin-top: 21px;
    padding-bottom: 20px;
  }
}

.about__detail-button-link {
  cursor: pointer;
  margin: 35px 0 0;
  display: block;
  width: 180px;
  padding: 14px 13px 10px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #00b2ff;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #00b2ff;
}
.about__detail-button-link:hover {
  color: #666666;
  border-color: #666666;
}
@media (max-width: 1023px) {
  .about__detail-button-link {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .about__detail-button-link {
    margin-top: 13px;
  }
}

.advantages {
  max-width: 1220px;
  margin: auto;
  padding: 0 25px;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .advantages {
    padding: 0 16px 0 14px;
  }
}

.advantages__list {
  list-style: none;
  margin-top: 109px;
  padding: 0;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(299px, auto));
}
@media (max-width: 1023px) {
  .advantages__list {
    grid-template-rows: repeat(2, auto);
    margin-top: 55px;
  }
}
@media (max-width: 767px) {
  .advantages__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 22px;
    margin-top: 39px;
  }
}

.advantages__item {
  position: relative;
  cursor: pointer;
  min-height: 232px;
  outline: 1px solid #ebebeb;
}
.advantages__item::before {
  position: absolute;
  content: "";
  top: 0;
  left: -1px;
  width: 3px;
  height: 100%;
  background-color: #00b2ff;
}
@media (max-width: 1023px) {
  .advantages__item::before {
    width: 2px;
  }
}
@media (max-width: 767px) {
  .advantages__item:first-child .advantages__item-link {
    padding-right: 16px;
  }
  .advantages__item:last-child .advantages__item-link {
    padding-right: 10px;
  }
}

.advantages__item-link {
  display: block;
  height: 100%;
  padding: 40px 43px;
  box-sizing: border-box;
}
.advantages__item-link svg {
  fill: #00b2ff;
}
.advantages__item-link h3 {
  margin: 18px 0 0;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #00b2ff;
}
.advantages__item-link p {
  margin: 18px 0 0;
  color: #666666;
}
.advantages__item-link:hover {
  background-color: #00b2ff;
  color: #ffffff;
}
.advantages__item-link:hover svg {
  fill: #ffffff;
}
.advantages__item-link:hover h3 {
  color: #ffffff;
}
.advantages__item-link:hover p {
  color: #ffffff;
}
@media (max-width: 1023px) {
  .advantages__item-link {
    padding: 23px 22px 20px 25px;
  }
  .advantages__item-link h3 {
    margin-top: 4px;
  }
  .advantages__item-link p {
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .advantages__item-link {
    padding: 23px 14px 26px 25px;
  }
  .advantages__item-link svg {
    width: 35px;
    height: 35px;
  }
  .advantages__item-link h3 {
    margin-top: 7px;
    font-size: 20px;
    line-height: 28px;
  }
  .advantages__item-link p {
    margin-top: 10px;
  }
}

.callback-popup__container {
  position: fixed;
  z-index: 1100;
  top: 136px;
  left: 50%;
  transform: translateX(-50%);
  width: 490px;
  padding: 26px 40px 35px;
  box-sizing: border-box;
  background-color: #00b2ff;
}
@media screen and (max-height: 741px) {
  .callback-popup__container {
    height: auto;
    bottom: 0;
    overflow: auto;
  }
}

.callback-popup__close-button {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 20px;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: none;
  padding: 0;
}
.callback-popup__close-button svg {
  width: 100%;
  height: 100%;
  fill: #ffffff;
}

.callback-popup__container h1 {
  margin: 0;
  color: #ffffff;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
}

.callback-popup__container p {
  margin: 15px 0 0;
  padding-right: 10px;
  color: #ffffff;
  line-height: 22px;
}

.callback-popup__container label {
  display: none;
}

.callback-popup__container input {
  margin-top: 30px;
  width: 412px;
  height: 52px;
  padding: 14px 24px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: #ffffff;
}
.callback-popup__container input::placeholder {
  font-family: "PTMono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.callback-popup__container textarea {
  width: 100%;
  min-height: 104px;
  margin-top: 30px;
  padding: 14px 24px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: #ffffff;
  resize: none;
}
.callback-popup__container textarea::placeholder {
  font-family: "PTMono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.callback-popup__send-button {
  cursor: pointer;
  margin-top: 27px;
  width: 410px;
  padding: 10px 30px 8px;
  height: 47px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.callback-popup__send-button:hover {
  color: #666666;
  border-color: #666666;
}

.callback-popup__policy-container {
  margin-top: 34px;
}
.callback-popup__policy-container label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
  padding-left: 48px;
  padding-right: 5px;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}
.callback-popup__policy-container label::before {
  position: absolute;
  content: "";
  top: 2px;
  left: -1px;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: 1px solid #ffffff;
}
.callback-popup__policy-container label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 5px;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  transform: rotate(-45deg);
}
.callback-popup__policy-container input {
  position: absolute;
  left: -9999px;
}
.callback-popup__policy-container input:focus + label {
  outline: 1px solid #666666;
}
.callback-popup__policy-container input:not(:checked) + label::after {
  opacity: 0;
}

.callback-form {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #ffffff;
  padding: 95px 0 108px;
  box-sizing: border-box;
  background: #00b2ff left 175px top -60px no-repeat url("../img/form_polygons.svg");
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .callback-form {
    background-color: #00b2ff;
    background-image: url("../img/form_polygons.svg");
    background-size: 1745px 765px;
  }
}
@media (max-width: 1023px) {
  .callback-form {
    background: #00b2ff;
    padding: 80px 11% 104px;
  }
}
@media (max-width: 767px) {
  .callback-form {
    padding: 33px 0 41px;
    justify-content: center;
  }
}

.callback-form__background-container {
  flex: 0 1 511px;
  background: left 0 top 70px/contain no-repeat url("../img/paper_airplane_3d_model@1x.png");
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .callback-form__background-container {
    background: left 0 top 70px/contain no-repeat url("../img/paper_airplane_3d_model@2x.png");
  }
}
@media (max-width: 1023px) {
  .callback-form__background-container {
    display: none;
  }
}

.callback-form form {
  margin: 0 25px 0 6%;
  flex: 0 0 570px;
}
.callback-form form h1 {
  margin: 0;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
}
.callback-form form p {
  margin: 7px 0 0;
}
@media (max-width: 1023px) {
  .callback-form form {
    margin: 0;
    margin-left: 5px;
    flex: 1 0 590px;
  }
  .callback-form form h1 {
    margin-left: -3px;
    font-size: 32px;
    line-height: 45px;
  }
  .callback-form form p {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .callback-form form {
    margin: 0;
    padding: 0 5%;
    flex: 1 0 290px;
    width: auto;
  }
  .callback-form form h1 {
    margin-left: 0;
    font-size: 28px;
    line-height: 39px;
  }
  .callback-form form p {
    margin-top: 10px;
  }
}

.callback-form__inputs-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 570px;
  margin-top: 15px;
}
.callback-form__inputs-container label {
  display: none;
}
.callback-form__inputs-container input {
  flex-basis: 270px;
  height: 50px;
  margin-top: 40px;
  padding: 14px 16px;
  box-sizing: border-box;
  background-color: #19baff;
  border: none;
  color: #ffffff;
}
.callback-form__inputs-container input::placeholder {
  font-family: "PTMono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
.callback-form__inputs-container input:not(:first-child) {
  margin-left: 30px;
}
.callback-form__inputs-container input -webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #ffffff;
}
.callback-form__inputs-container textarea {
  flex-basis: 100%;
  min-height: 154px;
  margin-top: 40px;
  padding: 14px 16px;
  box-sizing: border-box;
  background-color: #19baff;
  border: none;
  color: #ffffff;
  resize: none;
}
.callback-form__inputs-container textarea::placeholder {
  font-family: "PTMono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
@media (max-width: 1023px) {
  .callback-form__inputs-container {
    max-width: none;
  }
  .callback-form__inputs-container label {
    flex: 1 0 279px;
  }
  .callback-form__inputs-container label:not(:first-child) {
    margin-left: 30px;
  }
  .callback-form__inputs-container input {
    flex: 1 0 279px;
  }
  .callback-form__inputs-container textarea {
    min-height: 159px;
  }
}
@media (max-width: 767px) {
  .callback-form__inputs-container {
    flex-direction: column;
    max-width: none;
    margin-top: 0;
  }
  .callback-form__inputs-container label {
    margin-top: 30px;
  }
  .callback-form__inputs-container label:not(:first-child) {
    margin-left: 0;
  }
  .callback-form__inputs-container input {
    margin-top: 30px;
    flex-basis: auto;
  }
  .callback-form__inputs-container input:not(:first-child) {
    margin-left: 0;
  }
  .callback-form__inputs-container textarea {
    min-height: 104px;
    margin-top: 30px;
  }
}

.callback-form__lower-block {
  margin-top: 43px;
  display: flex;
  justify-content: space-between;
}
.callback-form__lower-block button {
  cursor: pointer;
  width: 270px;
  height: 47px;
  background-color: #00b2ff;
  border-style: none;
  border-radius: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}
.callback-form__lower-block button:hover {
  color: #666666;
  border-color: #666666;
}
@media (max-width: 1023px) {
  .callback-form__lower-block {
    margin-top: 47px;
  }
  .callback-form__lower-block button {
    width: 280px;
  }
}
@media (max-width: 767px) {
  .callback-form__lower-block {
    flex-direction: column;
    margin-top: 33px;
  }
  .callback-form__lower-block button {
    width: 290px;
  }
}

.callback-form__policy-container {
  display: flex;
  align-items: center;
  max-width: 262px;
}
.callback-form__policy-container label {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  line-height: 16px;
}
.callback-form__policy-container label::before {
  position: absolute;
  content: "";
  top: 1px;
  left: 1px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid #ffffff;
}
.callback-form__policy-container label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 6px;
  width: 7px;
  height: 5px;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  transform: rotate(-45deg);
}
.callback-form__policy-container input {
  position: absolute;
  left: -9999px;
}
.callback-form__policy-container input:not(:checked) + label::after {
  opacity: 0;
}
.callback-form__policy-container input:focus + label {
  outline: 1px solid #666666;
}
@media (max-width: 1023px) {
  .callback-form__policy-container {
    max-width: 270px;
  }
}
@media (max-width: 767px) {
  .callback-form__policy-container {
    margin-top: 30px;
  }
}

.goods {
  width: 100%;
  background-color: #1b2d37;
}

.goods__container {
  margin: auto;
  padding: 93px 25px 130px;
  box-sizing: border-box;
  width: fit-content;
}
@media (max-width: 1023px) {
  .goods__container {
    width: 100%;
    padding: 53px 25px 78px;
  }
}
@media (max-width: 767px) {
  .goods__container {
    padding: 53px 15px 64px;
  }
}

.goods__title {
  margin: 0;
  text-align: start;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  color: #ffffff;
}
@media (max-width: 1023px) {
  .goods__title {
    padding-right: 100px;
    font-size: 32px;
    line-height: 45px;
  }
}
@media (max-width: 767px) {
  .goods__title {
    margin-left: 10px;
    padding-right: 0;
    font-size: 28px;
    line-height: 39px;
  }
}

.goods__list {
  list-style: none;
  margin: 30px auto 0;
  width: fit-content;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 1023px) {
  .goods__list {
    margin-top: 47px;
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .goods__list {
    margin: 40px auto 0;
  }
}

.goods__item {
  position: relative;
  margin-top: 17px;
}
.goods__item:not(:last-child) {
  margin-right: 30px;
}
@media (max-width: 1023px) {
  .goods__item {
    height: 256px;
    margin-top: 0;
  }
  .goods__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 46px;
  }
}
@media (max-width: 767px) {
  .goods__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.goods__item-link {
  position: relative;
  display: block;
  height: 100%;
}
.goods__item-link::before {
  z-index: 1;
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 63px;
  height: 63px;
  background-color: #00b2ff;
}
.goods__item-link::after {
  z-index: 1;
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  bottom: 27px;
  right: 27px;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  transform: rotate(-45deg);
}
.goods__item-link h3 {
  position: absolute;
  margin: 0;
  top: 53px;
  left: 44px;
  white-space: nowrap;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
@media (max-width: 1023px) {
  .goods__item-link h3 {
    top: 43px;
    left: 43px;
  }
}
.goods__item-link img {
  display: block;
}
@media (max-width: 1023px) {
  .goods__item-link img {
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 767px) {
  .goods__item-link h3 {
    top: 23px;
    left: 35px;
  }
}

.page {
  height: 100%;
  font-family: "PTMono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  scroll-behavior: smooth;
}

.page__body {
  overflow-x: hidden;
  min-height: 100%;
  min-width: 320px;
  margin: auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.page-header {
  position: relative;
  overflow: hidden;
  min-height: 878px;
  color: #ffffff;
  background: #1b2d37 center url("../img/header_background@1x.png");
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header {
    background-image: url("../img/header_background@2x.png");
    background-size: 1920px 878px;
  }
}
@media (max-width: 1023px) {
  .page-header {
    min-height: 686px;
  }
}
@media (max-width: 767px) {
  .page-header {
    min-height: 646px;
  }
}

.page-header__upper-block {
  display: flex;
  margin: 33px auto;
  padding: 0 6px;
  max-width: 1411px;
  min-height: 52px;
}
.page-header__upper-block > * + * {
  margin-left: 3.6%;
}
@media (max-width: 1023px) {
  .page-header__upper-block {
    padding: 0;
    margin: 17px 25px;
  }
}
@media (max-width: 767px) {
  .page-header__upper-block {
    margin: 10px 15px 0 17px;
  }
}

.page-header__logo-link {
  z-index: 1;
  height: 52px;
  flex: 0 1 202px;
  background: url("../img/logo@1x.png");
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header__logo-link {
    background: url("../img/logo@2x.png");
    background-size: 202px 52px;
  }
}
@media (max-width: 767px) {
  .page-header__logo-link {
    height: 38px;
    flex-basis: 38px;
    background: url("../img/logo_mobile@1x.png");
  }
}
@media (max-width: 767px) and (min-resolution: 144dpi), (max-width: 767px) and (min-resolution: 1.5dppx) {
  .page-header__logo-link {
    background: url("../img/logo_mobile@2x.png");
    background-size: 38px 38px;
  }
}

.page-header__contact-list {
  z-index: 1;
  list-style: none;
  margin: 0;
  flex: 1 0.5;
  gap: 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  -webkit-justify-content: end;
  align-items: center;
  padding: 0;
}
@media (max-width: 1023px) {
  .page-header__contact-list {
    gap: 33px;
  }
}
@media (max-width: 767px) {
  .page-header__contact-list {
    gap: 25px;
  }
}

.page-header__contact-list-item {
  padding: 10px 5px;
  display: flex;
  flex-wrap: nowrap;
  text-decoration: none;
  color: #ffffff;
}
.page-header__contact-list-item svg {
  fill: #00b2ff;
}
.page-header__contact-list-item span {
  margin-left: 16px;
  white-space: nowrap;
  font-size: 16px;
  line-height: 18px;
}
@media (max-width: 1023px) {
  .page-header__contact-list-item span {
    display: none;
  }
}
.page-header__contact-list-item:hover {
  color: #788891;
}
.page-header__contact-list-item:hover svg {
  fill: #788891;
}

.page-header__list-item-logo--mail {
  width: 19px;
  height: 14px;
}
@media (max-width: 1023px) {
  .page-header__list-item-logo--mail {
    width: 25px;
    height: 18px;
  }
}
.page-header__list-item-logo--phone {
  width: 18px;
  height: 18px;
}
@media (max-width: 1023px) {
  .page-header__list-item-logo--phone {
    width: 24px;
    height: 24px;
  }
}

.page-header__promo {
  z-index: 2;
  position: absolute;
  top: 315px;
  left: 13%;
  width: 38%;
  min-width: 500px;
}
.page-header__promo h2 {
  margin: 0;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: #ffffff;
}
.page-header__promo p {
  position: relative;
  margin: 31px 0 0 98px;
  font-size: 22px;
  line-height: 34px;
}
@media (max-width: 1023px) {
  .page-header__promo {
    top: 188px;
    left: 88px;
    min-width: 470px;
  }
  .page-header__promo h2 {
    font-size: 60px;
    line-height: 70px;
  }
  .page-header__promo p {
    margin-left: 51px;
    font-size: 18px;
    line-height: 28px;
  }
}
@media (max-width: 767px) {
  .page-header__promo {
    top: 286px;
    left: 15px;
    max-width: 470px;
    width: auto;
    min-width: 287px;
  }
  .page-header__promo h2 {
    font-size: 40px;
    line-height: 47px;
  }
  .page-header__promo p {
    margin-left: 51px;
    font-size: 16px;
    line-height: 25px;
  }
}

.page-header__promo-button {
  cursor: pointer;
  width: 407px;
  margin: 40px 0 37px 98px;
  padding: 17px 28px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border-style: none;
  background-color: #00b2ff;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.page-header__promo-button:hover {
  opacity: 0.6;
}
@media (max-width: 1023px) {
  .page-header__promo-button {
    width: 379px;
    margin: 55px 0 40px 51px;
    padding: 17px 14px 20px;
  }
}
@media (max-width: 767px) {
  .page-header__promo-button {
    width: auto;
    min-width: 287px;
    margin: 37px 0 0;
  }
  .page-header__promo-button span {
    display: none;
  }
  .page-header__promo-button::after {
    content: "Бесплатная консультация";
  }
}

.page-header__image {
  z-index: 1;
  position: absolute;
  top: 230px;
  left: 53%;
}
@media (max-width: 1023px) {
  .page-header__image {
    width: 495px;
    height: 400px;
    top: 91px;
    left: 64%;
  }
}
@media (max-width: 767px) {
  .page-header__image {
    width: 301px;
    height: 220px;
    top: 92px;
    left: 24px;
  }
}

.page-header__polygons-svg {
  position: absolute;
  fill: transparent;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 950px;
}
@media (max-width: 1023px) {
  .page-header__polygons-svg {
    width: 1515px;
    bottom: -27px;
  }
}
@media (max-width: 767px) {
  .page-header__polygons-svg {
    left: 100px;
    bottom: -50px;
    width: 1450px;
  }
}

.page-footer {
  position: relative;
  background-color: #fafafa;
  height: auto;
  padding: 65px 3% 0;
  box-sizing: border-box;
}
.page-footer::before {
  display: none;
}
.page-footer::after {
  position: absolute;
  content: "";
  height: 1px;
  left: 0;
  bottom: 52px;
  width: 100vw;
  background-color: #626962;
  opacity: 0.2;
}
@media (max-width: 1023px) {
  .page-footer {
    padding-top: 0;
  }
  .page-footer::before {
    display: block;
    position: absolute;
    content: "";
    height: 1px;
    left: 0;
    top: 97px;
    width: 100vw;
    background-color: #626962;
    opacity: 0.2;
  }
  .page-footer::after {
    bottom: 69px;
  }
}
@media (max-width: 767px) {
  .page-footer {
    padding: 0;
  }
  .page-footer::before {
    top: 261px;
  }
  .page-footer::after {
    bottom: 123px;
  }
}

.page-footer__upper-block {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1412px;
}
@media (max-width: 1023px) {
  .page-footer__upper-block {
    flex-direction: column;
  }
}

.page-footer__logo-socials-wrapper {
  flex: 0 1.5 424px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1023px) {
  .page-footer__logo-socials-wrapper {
    flex-grow: 0;
    flex-basis: 97px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .page-footer__logo-socials-wrapper {
    margin-top: 45px;
    flex-basis: auto;
    flex-direction: column;
    justify-content: start;
  }
}

.page-footer__logo-link {
  z-index: 1;
  width: 216px;
  height: 52px;
  background: url("../img/logo_bottom@1x.png");
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-footer__logo-link {
    background: url("../img/logo_bottom@2x.png");
    background-size: 216px 52px;
  }
}

.page-footer__trademark-tablet {
  display: none;
}
@media (max-width: 1023px) {
  .page-footer__trademark-tablet {
    display: block;
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #1b2d37;
    opacity: 0.5;
  }
}
@media (max-width: 767px) {
  .page-footer__trademark-tablet {
    margin: 26px 0 0;
  }
}

.page-footer__logo {
  width: 52px;
  height: 52px;
}

.page-footer__socials-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin-top: 55px;
}
@media (max-width: 1023px) {
  .page-footer__socials-list {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .page-footer__socials-list {
    margin-top: 31px;
  }
}
.page-footer__socials-list li:not(:last-child) {
  margin-right: 16px;
}

.page-footer__socials-item svg {
  width: 27px;
  height: 27px;
  fill: #cdcdcd;
}
.page-footer__socials-item svg:hover {
  fill: #788891;
}

.page-footer__menu-address-wrapper {
  flex: 0 1 988px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .page-footer__menu-address-wrapper {
    flex-basis: auto;
    padding-top: 38px;
  }
}
@media (max-width: 767px) {
  .page-footer__menu-address-wrapper {
    flex-direction: column;
    padding-top: 55px;
  }
}

.page-footer__menu-block {
  flex: 0 0.7 610px;
}
@media (max-width: 1023px) {
  .page-footer__menu-block {
    flex-grow: 1;
    flex-basis: 375px;
  }
}
@media (max-width: 767px) {
  .page-footer__menu-block {
    flex-basis: auto;
  }
}

.page-footer__header {
  display: flex;
  justify-content: space-between;
}
.page-footer__header h2 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
}
@media (max-width: 1023px) {
  .page-footer__header h2 {
    margin-left: 3px;
  }
}
@media (max-width: 767px) {
  .page-footer__header {
    margin: 0;
    cursor: pointer;
    padding: 26px 15px;
  }
  .page-footer__header h2 {
    margin: 0;
  }
}

.page-footer__menu-list {
  list-style: none;
  margin: 24px auto 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 50%;
  flex-wrap: wrap;
}
.page-footer__menu-list li {
  width: 50%;
}
@media (max-width: 1023px) {
  .page-footer__menu-list {
    height: 100%;
    margin: 23px 0 29px;
  }
  .page-footer__menu-list li {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .page-footer__menu-list {
    margin: 0 15px 23px;
    padding-right: 10px;
  }
}

.page-footer__menu-item {
  color: #1b2d37;
  opacity: 0.5;
  font-size: 15px;
  line-height: 26px;
}
.page-footer__menu-item:hover {
  color: #788891;
}

.page-footer__address-block {
  position: relative;
  flex: 0 1 333px;
}
@media (max-width: 1023px) {
  .page-footer__address-block {
    flex-grow: 1;
    flex-basis: 345px;
  }
}
@media (max-width: 767px) {
  .page-footer__address-block {
    flex-basis: auto;
  }
  .page-footer__address-block::before {
    position: absolute;
    content: "";
    left: 0;
    top: -5px;
    height: 1px;
    width: 100vw;
    background-color: #626962;
    opacity: 0.2;
  }
}

.page-footer__address-list {
  list-style: none;
  margin: 24px auto 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1023px) {
  .page-footer__address-list {
    margin-top: 25px;
  }
}
@media (max-width: 767px) {
  .page-footer__address-list {
    margin: 0 15px 23px;
    padding-right: 10px;
  }
}

.page-footer__bottom-block {
  height: 52px;
  list-style: none;
  margin: -20px auto 0;
  padding: 0;
  max-width: 1412px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1023px) {
  .page-footer__bottom-block {
    height: 69px;
    margin-top: -28px;
    padding: 33px 5px 0;
  }
}
@media (max-width: 767px) {
  .page-footer__bottom-block {
    height: auto;
    flex-direction: column;
    padding: 28px 0 24px;
  }
}

.page-footer__bottom-item {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #1b2d37;
  opacity: 0.5;
  white-space: nowrap;
}
.page-footer__bottom-item--rights {
  flex: 0 0 165px;
}
.page-footer__bottom-item--trademark {
  flex: 0 0.2 292px;
  text-align: end;
}
.page-footer__bottom-item--confidentials {
  flex: 0 0.4 359px;
  text-align: end;
}
.page-footer__bottom-item--developed {
  flex: 0 0.6 596px;
  text-align: end;
}
@media (max-width: 1023px) {
  .page-footer__bottom-item--rights {
    display: none;
  }
  .page-footer__bottom-item--trademark {
    display: none;
  }
  .page-footer__bottom-item--confidentials {
    flex: auto;
    text-align: start;
  }
  .page-footer__bottom-item--developed {
    flex: auto;
  }
}
@media (max-width: 767px) {
  .page-footer__bottom-item:not(:first-child) {
    margin-top: 23px;
  }
}

@media (max-width: 767px) {
  .no-js .page-footer__menu-toggle {
    display: none;
  }
}

@media (max-width: 767px) {
  .no-js .page-footer__address-toggle {
    display: none;
  }
}

.page-footer__menu-toggle {
  display: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  .page-footer__menu-toggle {
    display: block;
  }
}
.page-footer__menu-toggle svg {
  fill: #c4c4c4;
  width: 16px;
  height: 16px;
}

@media (max-width: 767px) {
  .page-footer__menu-block--closed .page-footer__menu-close-icon {
    display: none;
  }
}

@media (max-width: 767px) {
  .page-footer__menu-block--opened .page-footer__menu-open-icon {
    display: none;
  }
}

@media (max-width: 767px) {
  .page-footer__menu-block--closed .page-footer__menu-list {
    display: none;
  }
}

.page-footer__address-toggle {
  display: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  .page-footer__address-toggle {
    display: block;
  }
}
.page-footer__address-toggle svg {
  fill: #c4c4c4;
  width: 16px;
  height: 16px;
}

@media (max-width: 767px) {
  .page-footer__address-block--closed .page-footer__address-close-icon {
    display: none;
  }
}

@media (max-width: 767px) {
  .page-footer__address-block--opened .page-footer__address-open-icon {
    display: none;
  }
}

@media (max-width: 767px) {
  .page-footer__address-block--closed .page-footer__address-list {
    display: none;
  }
}